/* Reset */

br, #logo {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}

/* Basics */

* {
	text-align: center !important;
}
body {
	margin: 2rem;
	margin-top: 1rem;
}
::-moz-selection {
	background: #999;
	color: #fff;
}
::selection {
	background: #999;
	color: #fff;
}
canvas {
	margin: auto;
	display: block;
}
.modal-dialog {
	width: 90% !important;
	max-width: none;
}
.modal-content {
	border: 4px solid #333;
}
#nodata {
	display: none;
}
label {
	font-size: 120%;
}
label[for=showLabel] {
	cursor: pointer;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #333;
	border-color: #333;
}
.alert {
	background-color: #fff;
	border-width: 2px;
}
.dropdown {
	cursor: pointer;
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff !important;
	background-color: #333 !important;
}
.cp-color-picker {
	z-index: 1051 !important; /* Bootstrap modal is 1050 */
}
.input-group-text {
	background-color: #333;
	border-color: #333;
	color: #fff;
}
#qrcode {
	margin: 1rem;
}

/* Range inputs */

.form-control-range {
	-webkit-appearance: none;
	height: 1rem;
	border-radius: 0.5rem;
	background: #ccc;
}
.form-control-range:hover {
	background: #999;
}
.form-control-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background: #333;
	cursor: pointer;
}
.form-control-range::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background: #333;
	cursor: pointer;
	border: 0;
}