* {
	text-align: center !important;
}
body {
	margin: 40px;
}
::-moz-selection {
	background: #999;
	color: #fff;
}
::selection {
	background: #999;
	color: #fff;
}
#downloadLink, #nodata {
	display: none;
}
label {
	font-size: 120%;
}
label[for=showLabel] {
	cursor: pointer;
}
.alert {
	background-color: #fff;
	border-width: 3px;
}
.dropdown {
	cursor: pointer;
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff !important;
}
