* {
	text-align: center !important;
}
body {
	margin: 40px;
	margin-top: 20px;
}
::-moz-selection {
	background: #999;
	color: #fff;
}
::selection {
	background: #999;
	color: #fff;
}
.modal-dialog {
	width: 90% !important;
	max-width: none;
}
#nodata {
	display: none;
}
label {
	font-size: 120%;
}
label[for=showLabel] {
	cursor: pointer;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #333;
	border-color: #333;
}
.alert {
	background-color: #fff;
	border-width: 3px;
}
.dropdown {
	cursor: pointer;
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff !important;
	background-color: #333 !important;
}
.cp-color-picker {
	z-index: 1051 !important; /* Bootstrap modal is 1050 */
}
.input-group-text {
	background-color: #343a40;
	border-color: #343a40;
	color: #fff;
}
#qrcode {
	margin: 20px;
}

/* Range inputs */
.form-control-range {
	-webkit-appearance: none;
	height: 15px;
	border-radius: 5px;
	background: #ccc;
}
.form-control-range:hover {
	background: #999;
}
.form-control-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #333;
	cursor: pointer;
}
.form-control-range::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #333;
	cursor: pointer;
	border: 0;
}