* {
	text-align: center !important;
}
body {
	margin: 40px;
}
::-moz-selection {
	background: #999;
	color: #fff;
}
::selection {
	background: #999;
	color: #fff;
}
#downloadLink, #nodata {
	display: none;
}
#showLabel, label[for=showLabel] {
	cursor: pointer;
	font-size: 120%;
}
.alert {
	background-color: #fff;
	border-width: 2px;
}
