* {
	text-align: center !important;
}
body {
	margin: 20px;
}
::-moz-selection {
  background: #ccc;
}
::selection {
  background: #ccc;
}



#downloadLink, #nodata {
	display: none;
}
